# ai lab program

In [3]:
print("hello world")

hello world

In [5]:
print("Name:Amaan H D\nBranch:AIML\nCollege:Adichunchanagiri Institute Of Technology")

Name:Sagar H D
Branch:AIML
College:Adichunchanagiri Institute Of Technology

In [6]:
a=5
b=2
print(a+b)

7

In [11]:
a=float(input("enter first number: "))
b=float(input("enter second number: "))
print("sum = ",a+b)

enter first number: 4
enter second number: 5
sum =  9.0

#####

In [12]:
a=float(input("enter first number"))
b=float(input("enter second number"))
print("values before swapping:\na = ",a,"\nb =",b)
temp=a
a=b
b=temp
print("values after swapping:\na = ",a,"\nb =",b)

enter first number3
enter second number4
values before swapping:
a =  3.0
b = 4.0
values after swapping:
a =  4.0
b = 3.0

In [13]:
a=float(input("enter first number"))
b=float(input("enter second number"))
print("values before swapping:\na = ",a,"\nb =",b)
a=a+b
b=a-b
a=a-b
print("values after swapping:\na = ",a,"\nb =",b)

enter first number4
enter second number6
values before swapping:
a =  4.0
b = 6.0
values after swapping:
a =  6.0
b = 4.0

#####

In [18]:
a=2

if(a%2==0):
 print(a,"is even ")

else:
 print(a,"is odd")

2 is even

In [ ]:
a=float(input("enter a number"))

if(a%2==0):
 print(a,"is even ")

else:
 print(a,"is odd")

#####

In [42]:
a=float(input("enter a number"))
if (a%2!=0):
    print("it is prime number")
else:
    print("its not a prime number")

enter a number1
it is prime number

In [1]:
a=float(input("enter a number"))
print("sqaure root of ",a,"is",a**0.5)

enter a number25
sqaure root of  25.0 is 5.0

In [43]:
for i in range (1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10